aiohttp==3.6.2
asgiref==3.2.7
async-timeout==3.0.1
attrs==19.3.0
certifi==2020.4.5.1
chardet==3.0.4
discord==1.0.1
discord.py==1.5.0
Django==3.0.5
idna==2.9
image==1.5.31
multidict==4.7.5
Pillow==7.1.1
praw==6.5.1
prawcore==1.0.1
python-dotenv==0.14.0
pytz==2019.3
requests==2.23.0
selenium==3.141.0
six==1.14.0
sqlparse==0.3.1
update-checker==0.16
urllib3==1.25.9
websocket-client==0.57.0
websockets==8.1
yarl==1.4.2
